
<html>
  <head>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />
    
    
  </head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" integrity="sha512-f8gN/IhfI+0E9Fc/LKtjVq4ywfhYAVeMGKsECzDUHcFJ5teVwvKTqizm+5a84FINhfrgdvjX8hEJbem2io1iTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <body>
    <a href="/addUser" class="btn btn-primary">Add User</a>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/data" class="btn btn-primary">excel export</a>
    <a href="/pdf" class="btn btn-primary">pdf</a>
    <a href="javascript:;"  class="btn btn-danger" onclick="confirmDelete()" id="deletemany">
      Delete selected record
  </a><div style="color:rgb(234, 37, 37);" id="msg"></div><% if(locals.error) { %>
    <span style="color:rgb(234, 37, 37);">
      <strong><%= error.checkbox %></strong></span></br>
    <% } %>
    <div class="row input-daterange">
      <div class="col-md-4">
          <input type="text" name="from_date" id="from_date" class="form-control" placeholder="From Date" readonly />
      </div>
      <div class="col-md-4">
          <input type="text" name="to_date" id="to_date" class="form-control" placeholder="To Date" readonly />
      </div>
      <div class="col-md-4">
          <button type="button" name="filter" id="filter" class="btn btn-primary">Filter</button>
          <button type="button" name="refresh" id="refresh" class="btn btn-default">Refresh</button>
      </div>
  </div>
    
    <form method="POST" action="/import" enctype="multipart/form-data"> 
      <div class="input-group">
          <div class="custom-file">
              <input type="file" name="file" class="custom-file-input" id="inputGroupFile" required accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
              <label class="custom-file-label" for="inputGroupFile">Choose file</label>
          </div>
          <div class="input-group-append">
              <button type="submit" class="btn btn-primary float-right mr-2">Import <i class="fa fa-upload"></i></button>
          </div>
      </div>
  </form>
    
    <% if(locals.success){locals.success.forEach(function(msg) { %>
      <div class="alert alert-success" role="alert"><%=msg%><button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button></div>
    <% })} %>
    <% if(locals.successs){locals.successs.forEach(function(msg) { %>
      <div class="alert alert-success" role="alert"><%=msg%><button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button></div>
    <% })} %>
    <table id="example" class="display" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th class="select-all no-sort">
            <div class="animated-checkbox">
                <label class="m-0">
                    <input id="selectAll" type="checkbox"/>
                    <span class="label-text">
                    </span>
                </label>
            </div>
        </th>
          <th>Image</th>
          <th>Fullname</th>
          <!-- <th>Lastname</th> -->
          <th>Username</th>
          <th>Email</th>
          <th>Mobileno</th>
          <th>Dob</th>
          <th>Startdate</th>
          <th>TotalYear</th>
          <th>Attendance</th>
          <th>Status</th>
          <th>Hobby</th>
          <th>Edit</th>
          <th>Delete</th>

        </tr>
      </thead>
      
    </table>
    
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js" integrity="sha512-MqEDqB7me8klOYxXXQlB4LaNf9V9S0+sG1i8LtPOYmHqICuEZ9ZLbyV3qIfADg2UJcLyCm4fawNiFvnYbcBJ1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.7/dist/sweetalert2.all.min.js"></script>
    <script src="/backend/js/delete_script.js"></script>
    <script src="/backend/js/fnstandrow.js"></script>
<script src="/backend/js/jquery.form.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>


    <script type="text/javascript">
      
      

      // $(document).ready(function () {

        
      //   $('#example').DataTable({
      //     "processing": true,
      //     "searching": true,
      //     "serverSide": true,
      //     "pageLength": 5,
      //     "paging": true,
      //     "ordering": true,
      //     "statasave": true,
      //     "lengthMenu": [5,10,15],
      //     ajax:({
      //     type:"POST",
      //     url:'/',
      //     // dataSrc: "users",
      //     "dataType": 'json',
      //     "data":function(data){
      //      },
      //   }),
      $(document).ready(function () {
        $('.input-daterange').datepicker({
                todayBtn:'linked',
                format:'mm-dd-yyyy',
                autoclose:true
               });
            
        $('#example thead th').each(function () {
                var title = $(this).text();
                if(title == 'Fullname'){
                    $(this).append('<input type="text" class="form-control input-sm" placeholder="Search Fullname " />');
                }else if(title == 'Username'){
                    $(this).append('<input type="text" class="form-control input-sm" placeholder="Search Username " />');
                }
                else if(title == 'Email'){
                    $(this).append('<input type="text" class="form-control input-sm" placeholder="Search email " />');
                }else if(title == 'Mobileno'){
                    $(this).append('<input type="text" class="form-control input-sm" placeholder="Search Mobileno " />');
                }
              })
              load_data(); 

            function load_data(from_date = '', to_date = '')
               {
            var t = $('#example').DataTable({
                "paging": true,
                "pageLength": 5,
                "searching":true,
                "processing": true,
                "serverSide": true,
                
                "autoWidth": false,
                "aaSorting": [4, 'asc'],
                lengthMenu: [
                    [ 5, 10,25, 50, 100,200,500],
                    [ '5','10','25', '50','100','200','500']
                ],
                'ajax': {
                    'method': 'POST',
                    'url': '/',
                    data:{from_date:from_date, to_date:to_date},
                    // 'datasrc':"data"
                    "dataType": 'json',
                    // "data":function(data){
                    // },
                },
        
                'columns':[
                  {   
                                  mData: "username",
                                  bSortable:false,
                                  sWidth:"2%",
                                  sClass:"text-center",
                                  mRender: function (v, t, o) {
                                      return '<div class="animated-checkbox"><label class="m-0"><input class="checkbox"  type="checkbox" id="chk_'+v+'" name="special_id['+v+']" value="'+v+'"/><span class="label-text"></span></label></div>';
                                  },
                              },
                  {
                    data: 'image', "orderable": false,
                    "render": function(data, type, row) {
                    return '<img src="'+data+'" width="60"/>';
                    }
                  },
                  {
                    data: null,  bVisible:true,bSortable:true        ,  "render": function(data, type, full){
                      return full['firstname'] + ' '+ full['Lastname']
                    }
                  },
                  {data: 'username',bVisible:true,bSortable:true},
                  {data: 'email'},
                  {data: 'mobileno'},
                  {
                    data:'dob',
                    "render": function(data){
                      var date = new Date(data);
                      var month = date.getMonth() + 1;
                      return(month.toString().length > 1 ? month :"0" + month) + "/" + date.getDate() + "/" + date.getFullYear();
                    }
                  },
                  {
                    data:'startdate',
                    "render": function(data){
                      var date = new Date(data);
                      var month = date.getMonth() + 1;
                      return(month.toString().length > 1 ? month :"0" + month) + "/" + date.getDate() + "/" + date.getFullYear();
                    }
                  },
                  {
                    data:'startdate',
                    "render":function(data, type, row){
                      const a = moment(data)
                      const b = moment(new Date().toLocaleDateString())
                      const years = b.diff(a,'year')
                      const months = b.diff(a, 'month') % 12;
                      return (years + 'Year / ' + months + 'Month')
                    }
                  },
                  {data: 'attendance'},
                  {data: 'status'},
                  {data: 'hobby'},
                  {
                    data:null,orderable: false, render:(value) => {
                      return `<a href='/update/${value.username}' class='btn btn-primary'>Edit</a>`
                    }
                  },
                  {
                    data:null,orderable: false, render:(value) => {
                      return `<a href='/delete/${value.username}' id=delete  onclick="archiveFunction(event)"  type="submit" class='btn btn-danger' >Delete</a>`
                    }
                  },
                  
                  

                
                ],
                fnPreDrawCallback : function() { $("div.overlay").css('display','flex'); },
                        fnDrawCallback : function (oSettings) {
                        $("div.overlay").hide();
                        },
                
                })
                t.columns([2,3,4,5]).every(function () {
            var dataTableColumn = this;
            var searchTextBoxes = $(this.header()).find('input');
                
                searchTextBoxes.on('keyup change', function () {
                    if ( dataTableColumn.search() !== this.value ) {
                        dataTableColumn.search(this.value).draw();
                    }
                });

                searchTextBoxes.on('click', function (e) {
                    e.stopPropagation();
                });
            });

          }
          $('#filter').click(function(){
                var from_date = $('#from_date').val();
                console.log(from_date)
                var to_date = $('#to_date').val();
                console.log(to_date)
                if(from_date != '' &&  to_date != '')
                {
                 $('#example').DataTable().destroy();
                 load_data(from_date, to_date);
                }
                else
                {
                 alert('Both Date is required');
                }
               });

               $('#refresh').click(function(){
                $('#from_date').val('');
                $('#to_date').val('');
                $('#example').DataTable().destroy();
                load_data();
               }); 

       
      });
    
    

      




      function archiveFunction(ev){
        ev.preventDefault();
        var urlToRedirect = ev.currentTarget.getAttribute('href');
        console.log(urlToRedirect);
        new swal({
          title: 'Are you sure?',
          text: "You won't to delete this ",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!',
        }).then((result) => {
          if(result.isConfirmed){
            location.assign(urlToRedirect)  
          }else{
            // swal("your imaginary file is safe")
          }
          
        })
      }
    
      // document.getElementById("delete").addEventListener('click', archiveFunction)
      // function archiveFunction(event){

      //   event.preventDefault();
        
      //   Swal.fire({
          
      //     title: 'Are you sure?',
      //     text: "You won't be able to revert this!",
      //     icon: 'warning',
      //     showCancelButton: true,
      //     confirmButtonColor: '#3085d6',
      //     cancelButtonColor: '#d33',
      //     confirmButtonText: 'Yes, delete it!'
      //   }).then((result) => {
      //     if (result.isConfirmed) {
      //       //  event.preventDefault();
      //       Swal.fire(
      //         'Deleted!',
      //         'Your file has been deleted.',
      //         'success',
      //         // event.preventDefault()
      //       )
      //     }
      //   })
      // }
      

//       $(document).ready(function () {

//     //     window.addEventListener('load' , function(){
//     //       swal('Hello')
//     //  })
//         // document.getElementById("delete").addEventListener('click', function (){})
//             $("table").on("click", "#delete", function () {
//               event.preventDefault();
//               var form = event.target.form;
//               Swal.fire({
//   title: 'Are you sure?',
//   text: "You won't be able to revert this!",
//   icon: 'warning',
//   showCancelButton: true,
//   confirmButtonColor: '#3085d6',
//   cancelButtonColor: '#d33',
//   confirmButtonText: 'Yes, delete it!'
// }).then((result) => {
//   if (result.isConfirmed) {
//     Swal.fire(
//       'Deleted!',
//       'Your file has been deleted.',
//       'success'
//     )
//   }
// })
// // var r = confirm("Are You Sure You Want To delete This Data")

              
               
// //                if(r == true){
// //                  alert("SuccessFully Data deleted")
// //                }else{
// //                  return false  
// //                }

//             });
//         })



// // $("table").on("click", "#delete", function () {
  

    


    </script>
    <script>
//       let selectedUsers = [];
//       $('#deletemany').click(function (){
//         // console.log('j');
//         const msg = document.getElementById('msg');
//         const x = $('.checkbox:checked').each(function(){
//           selectedUsers.push($(this).val());
//         });
//         console.log(selectedUsers.length)
//         if(selectedUsers.length > 0){

//           $.ajax({
//             url: '/deletemany',
//             type:'POST',
//             data: {special_id :selectedUsers},
//             }).done(response => {
//             console.log(response)
//             })
//           window.location = "/";
//         }else{
//           msg.innerHTML = 'plz select checkbox'
//         }
        
        
// });
    </script>
    <script>
       let selectedUsers = [];
      function confirmDelete() {
        const msg = document.getElementById('msg');
        const x = $('.checkbox:checked').each(function(){
          selectedUsers.push($(this).val());
        });
        console.log(selectedUsers)
        if(selectedUsers.length > 0){
          new swal({
            title: 'Are you sure?',
            text: "You won't to delete this ",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!',
          }).then((result) => {
            console.log(result.isConfirmed)
            if(result.isConfirmed == true){
              console.log('su')
              $.ajax({
                
                url: "/deletemany",
                type: "POST",
                data: {special_id :selectedUsers},
                              
                             
                }).done(response => {
                console.log(response)
                })
                
                window.location = "/";
            }
          })
        }else{
          msg.innerHTML = 'plz select checkbox'
        }
      }
        
        
    //     
    </script>